@model Review

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitReview</title>
</head>
<body>
    <div>
        <h2>Спасибо за ваш отзыв!</h2>
        <a href="~/Home/ProductDetails/@Model.ProductId">Вернуться к продукту</a>
    </div>
</body>
</html>
